.accordionItem{
    width: 360px;
}

.accordionTitle{
    padding: 5px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row;
    background-color: none;
}


.accordionTitle:hover {
  background-color: #111111;
}


.accordionText{
padding: 5px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
}