.page{
  padding-top: 50px;
}

h1{
  color: rgb(160, 0, 0);
}

.container{
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
}

.containerStyle {
    position: "relative";
    width: 100%;
    padding-bottom: "56.25%";
    height: 0;
  }

.iframeStyle {
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
    border: 0;
  }