.page{
      padding-top: 50px;
}


.container{
    display: flex;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1280px;
}

.image{
    width: 100%;
    height: auto;
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
}