.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: rgb(160, 0, 0);
  padding-top: 70px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 10s linear infinite;
  font-size: 32px;
  font-weight: bold;
}

.picture{
  width: 100%;
  padding-bottom: 5ch;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}