.page{
      padding-top: 50px;
}


.container{
    display: flex;
    min-height: 100vh;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1280px;
}

.image{
    width: 100%;
    height: auto;
    max-width: 1280px;
}